.top{
    max-width: 100%;
    height: 100px
}
.sport{
    font-weight: bolder;
    margin-left: 50%;
    font-size: 40px;
}
.navi{
    max-width: 150px;
    height: 500px;
}
section{
    margin-left: 150px;
    margin-top: -500px;
    height: 500px;
}