body{
    max-width: 400px;
    position: relative;
}
form{
    background-color: lightgray;
}
input{
    left:200px;
    position: absolute;
}
label{
    margin-left: 50px;
}
div{
    margin-bottom: 10px;
}
input[type=submit]{
    left: 0;
    margin-top: 10px;
    position: absolute;
}
.bild{
    max-width: 20px;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
}